.#{$custom} {
    &-loader{
        position:fixed;
        z-index:1;
        overflow:auto;
        height:100%;
        width:100%;
        background-color:rgb(255,255,255);
        background-color:rgba(255,255,255,0.8);
        
        &__spinner {
            border:20px solid #{$primary-gray};
            border-top:20px solid #{$primary-green};
            border-radius:50%;
            width:200px;
            min-height:200px;
            animation:spin 2s linear infinite;
            margin:15% auto 0;
        }

        &__text {
            display:table;
            margin:5% auto;
            font-size:24px;
            color:#{$primary-green};
        }

        @keyframes spin {
            0% {
                transform:rotate(0deg);
            }
            100% {
                transform:rotate(360deg);
            }
        }
    }
}