.#{$custom}-summary {
    &__navbar {
        background-color:#{$primary-green};
        text-align: center;
        color:#{$primary-white};
    }
    &__counts {
        width:85%;
        margin:1em auto;
        display:flex;
        justify-content: space-between;
        div {
            flex:1 1 0;
        }
    }
    &__content {
        width:85%;
        margin:1em auto;

        .row {
            .col-1 {
                padding:0;
                .btn {
                    width:3em;
                    height:3em;
                }
            }
        }
    }

    &__action {
        position:fixed;
        bottom:2em;
        right:2em;

        .btn {
            border-radius:0;
            width:10em;
        }
    }
}
